 

  /* **************************************************************************

		CSS for spot_jsbelib.js demo project
		Geoffrey Wang / KKLabs Inc.
		v.0.2 (2014/05/26)
		
   ************************************************************************** */


 /* ************************************************************************** */
 /*
	document basic
 */
 /* ************************************************************************** */

@charset "utf-8";

body {
	margin: 10px;
	font-size: 16px;
	line-height: 22px;
}


.itemArea
{
   padding: 5px;
}


.currentArea1
{
background-image: url("http://placehold.it/300x500/007C2D/FFF200");
}

.currentArea2
{
background-image: url("http://placehold.it/300x500/FF0000/FFF200");

}

.currentArea3
{
background-image: url("http://placehold.it/300x500/0000E3/FFF200");

}

div{

float:left;
  width: 300px;
  height: 400px;
  margin: 1em;


}